.App {
  text-align: center;
}
input{
  border-radius: 25px;
  border: none;
  text-align: center;
  height: 5vh;
  width: 15%;
  margin-top: 1%;
}
button{
  border: none;
  width: 9%;
  height: 3vh;
  border-radius: 50px;
  background-color: white;
  margin-top: .5%;
}